*{
	margin: 0;
	padding: 0;
	outline: 0 !important;
}
body{
	-webkit-overflow-scrolling: touch; /* ios5+ */
	/* 处理ios端改变字体大小 */
	-webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}