@charset "UTF-8";
@import "./util";

html,
body {
    margin: 0;
    padding: 0;
	height: 100%;
}

html {
    @include root-font-size();
}
.none{
	display: none !important;
}
.flexcc{
	display: flex;
	justify-content:center;
	align-items:center;
}


.container{
	height: 100%;
	background: #f9f9f9;
	position: relative;
}
.header{
	height: px2rem(100);
	background: #3588fc;
	font-size: px2rem(40);
	color: #fff;
}
.mid{
	position: absolute;
	top: px2rem(100);
	bottom: px2rem(100);
	left: 0;
	right: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #eee;
	box-sizing: border-box;
	.banner{
		width: 100%;
		height: px2rem(400);
		background: #3d979c;
		font-size: px2rem(34);
		color: #fff;
	}
}
.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: px2rem(100);
	width: 100%;
	display: flex;
	.btn-box{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title-nav{
			font-size: px2rem(24);
			color: #999;
		}
		.icon-nav{
			display: block;
			width: px2rem(50);
			height: px2rem(50);
		}
		.icon-nav:nth-child(2){
			display: none;
		}
		&.active{
			.title-nav{
				color: #3588FC;
			}
			.icon-nav:nth-child(2){
				display: block;
			}
			.icon-nav:nth-child(1){
				display: none;
			}
		}
	}
}